@font-face {
  font-family: 'Poppins Regular';
  src: url('../public/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../public/Poppins-SemiBold.ttf');
}

html {
  height: 100%;
}

body {
  background: #00070a;
  height: 100%;
  margin: 0;
  font-family: 'Poppins Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
